$primary-color: #fe538d;
$secondary-color: #FFB703;
$text-color: #000000;
$text-white: #ffffff;
$dark-bg: #121212;

@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

ul {
    margin-left: 0;
    padding-left: 0;
    li{
        list-style: none;
        margin-left: 0;
    }
}
    .btn-primary{
        background-color: $primary-color;
        border:1px solid $primary-color;
        padding: 15px 20px;
        font-size: 1em;
        color:$text-white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover{
                 background-color: $secondary-color;
                 border:1px solid $secondary-color;

        }
    }




        .btn-secondary{
        background-color: $secondary-color;
        border:1px solid $secondary-color;
        padding: 15px 20px;
        font-size: 1em;
        color:$text-white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover{
                 background-color: $primary-color;
                 border:1px solid $primary-color;

        }
    }

header {
    nav{
        .nav-link {
            text-transform: uppercase;
            color:$text-color;
            font-weight: 500;
            margin-left: 20px;
        }

        .logo {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: $primary-color;
            }
            
        }
    }

}

footer {
    background-color: $dark-bg;
    color: $text-white;
    h3{
        font-size: 1.5em;
        color: $secondary-color;
    }

     ul{
        li{
            margin-bottom: 5px,0;
            .email{
                color:$text-white;
                font-size: 1rem;
            }
        }
     }

    a{
        color:$text-white;
        font-size: 1.2em;
        text-decoration: none;

    }
 
}

.section-1{
    .hero{
        background: linear-gradient(to right, rgba(0,0,0,8), rgba(0,0,0,0.0)), url('../images/hero.jpg');
        min-height: 800px;

        color:$text-white ;

        span{
            color:$secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }

    }

.section-2{
    img{
        border-radius: 40px;
        height: 110%;

    }
    span{
        color: $primary-color;
        font-size: 1em;
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: 500;
    }

    p{
        font-size: 1em;
        color: $text-color;
        line-height: 1.8em;
        margin-top: 20px;
    }

    
}

