$primary-color: #fe538d;
$secondary-color: #FFB703;
$text-color: #000000;
$text-white: #ffffff;
$dark-bg: #121212;
$light-bg: #9e9b9b;

@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

ul {
    margin-left: 0;
    padding-left: 0;
    li{
        list-style: none;
        margin-left: 0;
    }
}
a{
    text-decoration: none;
    color: $text-color;
    &:hover{  
        color: $primary-color;
    }   
}
.nav-link{
    text-decoration: none;
    color: $text-color;
    &:hover{  
        color: $primary-color;
    }   
}

.bg-light{
    background-color: $light-bg;
}

.small{
    padding: 10px 15px;
}

.large{
    padding: 15px 20px;
}

    .btn-primary{
        background-color: $primary-color;
        border:1px solid $primary-color;
        padding: 15px 20px;
        font-size: 1em;
        color:$text-white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover{
                 background-color: $secondary-color;
                 border:1px solid $secondary-color;

        }
    }




        .btn-secondary{
        background-color: $secondary-color;
        border:1px solid $secondary-color;
        padding: 15px 20px;
        font-size: 1em;
        color:$text-white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover{
                 background-color: $primary-color;
                 border:1px solid $primary-color;

        }
    }

.section-header{
    span{
        color: $primary-color;
        font-size: 1.2em;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
    }
}    

header {
    nav{
        .nav-link {
            text-transform: uppercase;
            color:$text-color;
            font-weight: 500;
            margin-left: 20px;
        }

        .logo {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: $primary-color;
            }
            
        }
    }

}

footer {
    background-color: $dark-bg;
    color: $text-white;
    h3{
        font-size: 1.5em;
        color: $secondary-color;
    }

     ul{
        li{
            margin-bottom: 5px,0;
            .email{
                color:$text-white;
                font-size: 1rem;
            }
        }
     }

    a{
        color:$text-white;
        font-size: 1.2em;
        text-decoration: none;

    }
 
}

.section-1{
    .hero{
        background: linear-gradient(to right, rgba(0,0,0,8), rgba(0,0,0,0.0)), url('../images/hero.jpg');
        min-height: 800px;

        color:$text-white ;

        span{
            color:$secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }

    }

.section-2{
    img{
        border-radius: 40px;
        height: 110%;

    }
    span{
        color: $primary-color;
        font-size: 1em;
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: 500;
    }

    p{
        font-size: 1em;
        color: $text-color;
        line-height: 1.8em;
        margin-top: 20px;
    }

    
}

.section-3 {
  .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    // Move the service-image block first
    .service-image {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        border-radius: 40px;
        aspect-ratio: 1/1.2;
        object-fit: cover;
        display: block;
      }

      // Fixed the gradient syntax errors here
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 40px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 50%,
          rgba(0, 0, 0, 0.8) 100%
        );
        pointer-events: none; // Ensures you can still click things under it
      }

      .service-body {
        color: #fff; // replaced $text-white for the example
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        z-index: 2; // Ensures text is above the :after gradient
        
        // Initial State
        transform: translateY(80%); 
        transition: all 0.4s ease-in-out;

        .service-content {
          opacity: 0;
          transition: all 0.4s ease-in-out;
        }
      }
    }

    // Place the Hover state at the BOTTOM so it overrides the base styles
    &:hover {
      .service-body {
        transform: translateY(0%) !important; // !important ensures it wins the specificity battle

        .service-content {
          opacity: 1 !important;
        }
      }
    }
  }
}

.section-4{
    .card{
        border-radius: 20px;
        text-align: center;
        padding: 30px 20px;
        margin-bottom: 20px;

        .card-icon{
            img{
                width: 60px;
            }
        }

        .card-title{
            h3{
                font-size: 1.5em;
                margin-top: 15px;
                text-transform: uppercase;
            }

            p{
                font-size: 1em;
                color: $text-color;
                margin-top: 10px;
                line-height: 1.6em;
            }
        }
    }
}
.section-5{
    .swiper{
     padding: 25px 25px 50px 25px;
     .swiper-pagination-bullet-active   {
        background-color: $secondary-color;
     }

    }
    .card{
        border-radius: 40px;
        .card-body{
        .rating{
            color: $secondary-color;
          
        }
        .content{

            p{
                font-size: 1em;
                color: $text-color;
                line-height: 1.6em;
        }
        
        }
        .name{
            font-size: 1.3em;
            font-weight: 500;
        }
        .meta{
            img{
                border-radius: 50%;
            }
    }

        }
    }
}

.section-6{
    .card{
        border-radius: 40px;
        img{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .card-body{
            a.title{
                font-size: 1.4em;
                font-weight: 500;
                text-transform: uppercase;
            }


        }
    }

}

.section-7{
       .hero{
        text-transform: uppercase;
        background: linear-gradient(to right, rgba(0,0,0,8), rgba(0,0,0,0.0)), url('../images/hero.jpg');
        min-height: 500px;

        color:$text-white ;

        span{
            color:$secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }
 
}

.section-8 {
    margin: auto;
    padding: 60px;

    .card {
        border-radius: 40px;
        overflow: hidden;
        background: #fff;
        width: 100%;
        height: 100%;

        .card-img-top {
            img {
                width: 100%;
                height: 100%;   
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                display: block;
                height: 320px; 
                object-fit: cover;
            }
        }

        .card-body {
            .card-title {
                font-size: 1.5em;
                font-weight: 600;
                color: #333;
            }
            .card-sub-title {
                font-size: 1.2em;
                font-weight: 400;
                color: #777; 
                margin-bottom: 10px;
            }
            

        }
    }
}